@page
@model FictionalCustomer.WebApp.Pages.Admin.Employees.DetailsModel

@{
    ViewData["Title"] = "Admin | Employees | Details";
}

<div class="website-background">

    <div class="dashboard-center">
        <h6 class="display-6">Admin | Employees | Details</h6>
    </div>

    <div>
        <h4>Employee</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Employee.FirstName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Employee.FirstName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Employee.LastName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Employee.LastName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Employee.SSN)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Employee.SSN)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Employee.Street)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Employee.Street)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Employee.City)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Employee.City)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Employee.StackType)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Employee.StackType)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Employee.EmployeeStatus)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Employee.EmployeeStatus)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Employee.Projects)
            </dt>
            <dd>
            </dd>
            <hr />
            @if (Model.Employee.Projects!.Count > 0)
            {
                @foreach (var member in Model.Employee.Projects!)
                {
                    <dt class="col-sm-2">
                        @Html.DisplayFor(model => member.Company)
                    </dt>
                    <dd class="col-sm-10">
                        @member.GetProjectInfo()
                        <a asp-page="/Admin/Projects/Details" asp-route-id="@member.Id"><i class="bi bi-info-circle"></i></a>
                    </dd>
                }
            }
            else
            {
                <dd class="col-sm-10">No projects assigned</dd>
            }
        </dl>
    </div>
    <div>
        <a asp-page="./Index">
            Back
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="25" fill="currentColor" style="padding-bottom:5px;" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z" />
            </svg>
        </a>
    </div>
</div>

