@page
@model FictionalCustomer.WebApp.Pages.Projects.DetailsModel

@{
    ViewData["Title"] = "Projects | Details";
}


<div class="website-background">
    <div style="display:flex;justify-content:center;">
        <h6 style="justify-self:center;" class="display-6">Projects | Details</h6>
    </div>
    <h1>Details</h1>

    <div>
        <h4>Project</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Project.ProjectName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Project.ProjectName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Project.ProjectDescription)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Project.ProjectDescription)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Project.Company)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Project.Company)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Project.ProjectBudget)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Project.ProjectBudget)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Project.ProjectStatus)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Project.ProjectStatus)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Project.StartDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Project.StartDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Project.EndDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Project.EndDate)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-page="./Edit" asp-route-id="@Model.Project.Id">Edit</a> |
        <a asp-page="./Index">Back to List</a>
    </div>
</div>